{% extends "base.twig" %}

{% block content %}
<div id="generic" class="row">
	<div class="large-12 columns">
		<p class="genericTitle">{{post.title}}</p>
		{{post.content}}
	</div>
</div>
{% endblock %}
