{% extends "base.twig" %}
{% block content %}
    <div id="home" class="small-12 hero">
      <div style="background: url('{{ post.background_image }}') no-repeat center center; background-size: cover;">
        <div class="hero_content small-12 small-centered columns">
        </div>
      </div>
    </div>
{% endblock %}
